ion-content {
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

#row {
    text-align: center;
}

ion-content {
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

// #navbar {
//     border-bottom: 2px solid #006aab;
// }
#separation-title {
    background-color: #006aab;
    width: 350px;
}

#go-back-button {
    vertical-align: middle;
    font-size: 40px;
    color: #464040;
    position: absolute;
    left: 0;
}

#header-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 55px;
    color: #464040;
    margin-bottom: 2px;
}

#navbar-text {
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    color: #464040;
    font-weight: 700;
}

#notifications-toggle-slot {
    height: 50px;
    // position: fixed;
}

#notifications-toggle-text {
    font-size: 1.6em;
}