<ion-header class="ion-no-border" id="navbar">
    <ion-toolbar id="navbar">
        <ion-buttons slot="start" routerLink="/">
            <ion-icon id="go-back-button" name="chevron-back-outline"></ion-icon>
        </ion-buttons>
        <h2 id="navbar-text">Notificaciones</h2>
    </ion-toolbar>
    <hr id="separation-title">

</ion-header>
<ion-content>

    <ion-item id="notifications-toggle-slot">
        <ion-label>
            <h2 id="notifications-toggle-text">Notificaciones</h2>
        </ion-label>
        <ion-toggle id="toggle-notification" checked="{{notificationStatus}}" slot="end" [(ngModel)]="isToggled" (ionChange)="onChange()"></ion-toggle>
    </ion-item>
    <hr id="separation-black">

    <ion-list>
        <ion-item *ngFor="let notification of notificationArray">
            <ion-label>
                <h2> {{notification.data.fecha | date: ' EEEE, dd/MM/yyyy HH:mm:ss '}}</h2>

                <h2 class="ion-text-wrap">{{notification.titile}} {{notification.body}}</h2>
            </ion-label>

        </ion-item>

    </ion-list>

</ion-content>