<ion-header class="ion-no-border">
    <ion-toolbar id="navbar">
        <ion-buttons slot="start" routerLink="/">
            <ion-icon id="go-back-button" name="chevron-back-outline"></ion-icon>
        </ion-buttons>
        <h2 id="navbar-text">Activar notificaciones</h2>
    </ion-toolbar>
    <hr id="separation">
</ion-header>


<ion-content>
    <h4 class="ion-padding-end ion-padding-start">La primera vez que se inicio la aplicación debió salir <b>la siguiente alerta</b>
    </h4>
    <ion-img class="ion-padding-end ion-padding-start" id="notification-popup-img" src="assets\activate-notifications-tutorials\question.PNG"></ion-img>
    <h4 class="ion-padding-left ion-padding-start ion-text-center">Si la bloqueaste o no te salió, <b>deberás activarlas en ajustes de aplicación</b>
    </h4>

    <h4 class="ion-padding-start ion-padding-end ion-text-center">Dirígete a Ajustes de tu teléfono móvil</h4>
    <ion-img src="assets\1.jpeg"></ion-img>
    <h4 class="">Y encuentra la manera de entrar a los ajustes de las aplicaciones</h4>

    <ion-img src="assets\2.jpg"></ion-img>
    <ion-img src="assets\3.jpg"></ion-img>

    <ion-img src="assets\4.jpeg"></ion-img>
    <h4 class="ion-padding-start ion-padding-end ion-padding-top">Busca por la aplicación (mobileOgest5)</h4>
    <ion-img src="assets\5.jpeg"></ion-img>
    <h4 class="ion-padding-top">Una vez dentro, baja hasta encontrar el apartado de notificaciones</h4>
    <ion-img src="assets\6.jpeg"></ion-img>
    <ion-img src="assets\7.jpeg"></ion-img>
    <ion-img src="assets\8.jpg"></ion-img>
    <h4 class="ion-padding-top"><b>
        Actívalas</b>
    </h4>
    <ion-img src="assets\9.jpg"></ion-img>
    <h4>Reinicia la aplicación eliminándola de las aplicaciones en segundo plano y volviendo a entrar
    </h4>
    <ion-img src="assets\10.jpeg"></ion-img>
    <h4> <b>¡Listo!</b>
    </h4>
    <hr id="separation">
</ion-content>