<ion-app>
    <ion-menu-toggle>
        <ion-menu contentId="main">
            <ion-content></ion-content>

            <ion-footer class="bar-stable">

                <ion-item lines="none" class="ion-no-padding" routerLink="/login">
                    <ion-icon id="login-icon" src="assets/cerrar-sesion.svg"></ion-icon>
                    <h2 id="configuration-text">Salir</h2>
                </ion-item>

            </ion-footer>
        </ion-menu>
    </ion-menu-toggle>

    <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>