<ion-header class="ion-no-border">
    <ion-toolbar id="navbar">
        <ion-buttons slot="start" routerLink="/home">

            <ion-icon id="go-back-button" name="chevron-back-outline"></ion-icon>

        </ion-buttons>
        <ion-menu-button id="home-menu-container">

            <ion-icon id="header-icon" src="assets/configuration-icon.svg"></ion-icon>

            <h2 id="header-text">Configuración</h2>
        </ion-menu-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>Modo oscuro</ion-label>
            <ion-toggle (ionChange)="enableDarkMode()"></ion-toggle>
        </ion-item>

        <ion-item (click)="help()">
            <ion-icon name="help-circle-outline" slot="start"></ion-icon>
            <ion-label>Ayuda</ion-label>
        </ion-item>
    </ion-list>
</ion-content>