<ion-content has-header>
    <div id="container" *ngFor="let p of projectArray">

        <ng-container *ngFor="let address of addressArray; index as i">

            <ion-card>
                <ion-card-header>
                    <h5 class="name-text"> {{address.addressfirstName}} {{address.addresslastName}}</h5>
                    <h6 class="title-text">{{p.addressgroups[i].addressgroupName}}</h6>
                </ion-card-header>
            </ion-card>
        </ng-container>
    </div>

    =======
</ion-content>