<ion-content has-header>
    
    <div id="container" *ngFor="let address of addressArray">
        <ion-card>
            <ion-card-header>
                <ion-icon class="member-icon" src="assets/director.svg"></ion-icon>
                <h5 class="name-text"> {{address.addressfirstName}} {{address.addresslastName}}</h5>
                <h6 class="title-text">{{address.addressgroups[0].addressgroupName}}</h6>
            </ion-card-header>
        </ion-card>
        <hr class="card-separation">
    </div>

</ion-content>