ion-content {
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    border-width: 0px 1px 1px 1px;
}

ion-card {
    background-color: #ffffff;
    border: 1px solid #006aab;
}

ion-card-header {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.name-text {
    margin-left: 10px;
    text-align: center;
    float: left;
}

.title-text {
    text-align: right;
    float: right;
    font-weight: bold;
}

.member-icon {
    font-size: 2.8em;
    float: left;
}

#no-members-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 70vh;
}