<ion-header class="ion-no-border">
    <ion-toolbar id="navbar">
        <ion-buttons slot="start" routerLink="/">
            <ion-icon id="go-back-button" name="chevron-back-outline"></ion-icon>
        </ion-buttons>
        <h2 id="navbar-text">{{projectName}}</h2>
    </ion-toolbar>
    <hr id="separation-title">
</ion-header>

<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button id="calendar-button" tab="calendar/{{projectId}}" (click)="selected(1)">

                <ion-icon class="tabs-icons" name="calendar-outline"></ion-icon>

            </ion-tab-button>

            <ion-tab-button id="members-button" tab="members/{{projectId}}" (click)="selected(2)">
                <ion-icon class="tabs-icons" name="people-outline"></ion-icon>
            </ion-tab-button>

            <ion-tab-button id="works-button" tab="works/{{projectId}}" (click)="selected(3)">
                <ion-icon class="tabs-icons" name="musical-notes-outline"></ion-icon>
            </ion-tab-button>

            <ion-tab-button id="instruments-button" tab="instruments/{{projectId}}" (click)="selected(4)">
                <ion-icon class="tabs-icons" name="triangle-outline"></ion-icon>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>