        ion-content {
            --overflow: hidden;
            overflow: auto;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        
        #separation-title {
            background-color: #006aab;
            width: 350px;
        }
        
        #go-back-button {
            vertical-align: middle;
            font-size: 40px;
            color: #464040;
            position: absolute;
            left: 0;
        }
        
        #header-icon {
            display: inline-block;
            vertical-align: middle;
            font-size: 55px;
            color: #464040;
            margin-bottom: 2px;
        }
        
        #navbar-text {
            text-align: center;
            vertical-align: middle;
            font-size: 18px;
            color: #464040;
            font-weight: 700;
        }
        
        ion-tab-bar {
            height: 70px;
        }
        
        ion-tab-bar {
            border-width: 2px 0px 0px 0px;
            border-color: #006aab;
            border-style: solid;
        }
        
        ion-label {
            font-size: 3em;
        }
        
        .tabs-icons {
            font-size: 4em;
            color: #006aab;
        }
        
        hr {
            height: 2px;
            background-color: black;
        }