<ion-header class="ion-no-border">
    <ion-toolbar id="navbar">
        <ion-buttons slot="start" routerLink="/home">

            <ion-icon id="go-back-button" name="chevron-back-outline"></ion-icon>

        </ion-buttons>
        <ion-menu-button id="home-menu-container">
            <h2 id="navbar-text">{{projectName}}</h2>
        </ion-menu-button>

    </ion-toolbar>
    <hr id="separation-title">
</ion-header>

<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">

            <ion-tab-button tab="calendar/{{projectIdService.projectId}}">
                <ion-icon class="tabs-icons" name="calendar"></ion-icon>
            </ion-tab-button>

            <ion-tab-button tab="members/{{projectIdService.projectId}}">
                <ion-icon class="tabs-icons" name="people"></ion-icon>
            </ion-tab-button>

            <ion-tab-button tab="works/{{projectIdService.projectId}}">
                <ion-icon class="tabs-icons" name="musical-notes-outline"></ion-icon>
            </ion-tab-button>

            <ion-tab-button tab="instruments/{{projectIdService.projectId}}">
                <ion-icon class="tabs-icons" name="triangle-outline"></ion-icon>
            </ion-tab-button>

        </ion-tab-bar>
    </ion-tabs>
</ion-content>