        ion-content {
            --overflow: hidden;
            overflow: auto;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        
        #separation-title {
            background-color: #006aab;
            width: 350px;
        }
        
        #go-back-button {
            vertical-align: middle;
            font-size: 40px;
            color: #464040;
            position: absolute;
            left: 0;
        }
        
        #navbar-text {
            text-align: center;
            vertical-align: middle;
            font-size: 25px;
            font-weight: 550;
        }
        
        ion-tab-bar {
            height: 85px;
            border-width: 2px 0px 0px 0px;
            border-color: #006aab;
            border-style: solid;
        }
        
        ion-label {
            font-size: 3em;
        }
        
        .tabs-icons {
            font-size: 2.5em;
            // color: #006aab;
        }
        
        hr {
            height: 2px;
            background-color: black;
        }