<ion-content has-header>




    <div *ngIf="noPercussion==false" class="ion-text-center border ion-margin-top">
        <h2 (click)="showPercussion = false">PERCUSIÓN</h2>

        <div id="dropdown-button" (click)="showPercussion=true">
            <ion-icon *ngIf=" showPercussion==false " name="caret-down-outline"></ion-icon>
        </div>
    </div>
    <div id="container" *ngFor="let playlist of playlistArray">
        <ng-container *ngFor="let perplaylist of playlist.perplaylists ">
            <ion-card *ngIf="showPercussion==true ">
                <ion-card-header>
                    <h2>{{perplaylist.instrumentName}}</h2>
                    <h2>{{perplaylist.instrumentName2}}</h2>
                    <h3></h3>
                </ion-card-header>


            </ion-card>

        </ng-container>



    </div>
    <div id="dropdown-button" (click)="showPercussion=false">
        <ion-icon *ngIf="showPercussion==true " name="caret-up-outline"></ion-icon>
    </div>

    <div *ngIf="noKeyboard==false" class="ion-text-center border ion-margin-top">
        <h2 (click)="showKeyboard=false">PIANO</h2>

        <div id="dropdown-button" (click)="showKeyboard=true">
            <ion-icon *ngIf="showKeyboard==false " name="caret-down-outline"></ion-icon>
        </div>
    </div>
    <div id="container" *ngFor="let playlist of playlistArray">
        <ng-container *ngFor="let keyplaylist of playlist.keyplaylists ">
            <ion-card *ngIf="showKeyboard==true ">
                <ion-card-header>
                    <ion-card-title>{{keyplaylist.instrumentName}}</ion-card-title>
                    <ion-card-title>{{keyplaylist.instrumentName2}}</ion-card-title>
                    <hr id="separation-title ">

                </ion-card-header>


            </ion-card>

        </ng-container>
    </div>
    <div id="dropdown-button" (click)="showKeyboard=false">
        <ion-icon *ngIf="showKeyboard==true " name="caret-up-outline"></ion-icon>
    </div>



    <div *ngIf="noVoice==false" class="ion-text-center border ion-margin-top">
        <h2 (click)="showVoice=false">VOCES</h2>

        <div id="dropdown-button" (click)="showVoice=true">
            <ion-icon *ngIf="showVoice==false " name="caret-down-outline"></ion-icon>
        </div>
    </div>
    <div id="container" *ngFor="let playlist of playlistArray">
        <ng-container *ngFor="let voiplaylist of playlist.voiplaylists ">
            <ion-card *ngIf="showVoice==true ">
                <ion-card-header>
                    <ion-card-title>{{voiplaylist.instrumentName}}</ion-card-title>
                    <ion-card-title>{{voiplaylist.instrumentName2}}</ion-card-title>
                    <hr id="separation-title ">

                </ion-card-header>


            </ion-card>

        </ng-container>
    </div>
    <div id="dropdown-button" (click)="showVoice=false">
        <ion-icon *ngIf="showVoice==true " name="caret-up-outline"></ion-icon>
    </div>




    <h1 class="ion-text-center " *ngIf="playlistArray.length==0 ">
        No hay instrumentos extras
    </h1>


</ion-content>