ion-content {
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    border-width: 0px 1px 1px 1px;
}

ion-header {
    height: 65px;
}

ion-card {
    border-radius: 0px;
    background-color: #ffffff;
}

#separation-title {
    width: 300px;
    background-color: #006aab;
}

#duration-text {
    text-align: right;
    float: right;
}

#orchestration-text {
    text-align: left;
    float: left;
    font-size: 17px;
}

#madera {
    color: #ff9001
}

#metales {
    color: #08a0a5
}

#otrosInst {
    color: #05a400
}