<ion-content>

    <div id="container" *ngFor="let playlist of playlistArray">
        <ion-card>
            <ion-card-header>
                <ion-card-title>{{playlist.workName}}</ion-card-title>
                <hr id="separation-title">

            </ion-card-header>

            <ion-card-content>

                <div>
                    <h3 id="orchestration-text">{{playlist.playlistString}}</h3>
                    <h3 id="duration-text">{{playlist.workDuration}}</h3>
                </div>

            </ion-card-content>
        </ion-card>

    </div>





</ion-content>