ion-content {
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

ion-header {
    height: 65px;
}

ion-card {
    border-radius: 0px;
    border: 1px solid #006aab;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

#separation-title {
    width: 300px;
    background-color: #006aab;
}

#duration-text {
    text-align: right;
    float: right;
}

#orchestration-text {
    text-align: left;
    float: left;
    font-size: 17px;
}

#madera {
    color: #ff9001
}

#metales {
    color: #08a0a5
}

#otrosInst {
    color: #05a400
}

#no-works-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 70vh;
}

#div-spinner {
    top: 40%;
    transform: scale(3);
    text-align: center;
    left: 0;
    right: 0;
    position: fixed;
    visibility: var(--visibilitySpinner);
}

ion-content {
    visibility: var(--visibilityBodyTabs);
}