<ion-header class="ion-no-border" id="navbar">
    <ion-icon id="navbar-icon" src="assets\favicon_Blanco.svg"></ion-icon>
    <h2 id="navbar-text">Android</h2>
    <hr id="separation-title">
</ion-header>

<ion-content class="ion-padding">
    <h3>La primera vez que entraste a la aplicación te debió salir esta alerta:</h3>
    <ion-img src="assets\activate-notifications-tutorials\question.PNG"></ion-img>
    <h3>Si la bloqueaste o no te salió, <b>deberás activarlas en ajustes de aplicación</b> de la siguiente manera:
    </h3>

    <h4>Desde la página de la aplicación, deberá salir un símbolo de un candado al lado de la URL</h4>

    <ion-img src="assets\activate-notifications-tutorials\pc\7.PNG"></ion-img>
    <h4>Le damos click</h4>
    <ion-img src="assets\activate-notifications-tutorials\pc\4.PNG"></ion-img>


    <h4>Activamos las notificaciones</h4>
    <ion-img src="assets\activate-notifications-tutorials\pc\5.PNG"></ion-img>
    <h4>Nos pedirá recargar la página</h4>
    <ion-img src="assets\activate-notifications-tutorials\pc\6.PNG"></ion-img>
    <h4>La recargamos, y listo ¡notitficaciones activadas!</h4>


</ion-content>