#go-back-button{

  vertical-align: middle;
  font-size: 40px;
  color: #464040;
  position: absolute;
  // float: left !important;
left: 0;
}


.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
  }
  
  .other-message {
    background: var(--ion-color-primary);
  }
  
  .time {
    float: right;
    font-size: small;
  }
  
  .message-input {
    margin-top: 0px;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
  }