    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap');
    #navbar {
        border-width: 1px;
        border-color: rgb(110, 102, 102);
        border-style: solid;
        height: 76px;
    }
    
    #header-icon {
        font-size: 50px;
        position: absolute;
        // float: left !important;
        right: 0px
    }
    
    #go-back-button {
        vertical-align: middle;
        font-size: 40px;
        color: #464040;
        position: absolute;
        left: 0;
    }
    
    .vl {
        border-left: 2px solid rgb(173, 173, 173);
        height: 70px;
        position: absolute;
        left: 12%;
        top: 5px;
        bottom: 0;
        padding: 0px !important;
    }
    
    #header-text {
        font-size: 30px;
        font-family: 'Outfit', sans-serif;
        font-weight: 700;
        // color: var(--ion-color-dark);
        color: #464040;
    }
    
    ion-content {
        --offset-bottom: auto!important;
        --overflow: hidden;
        overflow: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    
    ion-card {
        border-radius: 0px;
        background-color: var(--ion-color-light);
        font-family: 'Outfit', sans-serif;
        border: 2px solid var(--ion-color-danger-tint);
        min-height: 150px;
        max-height: 300px;
    }
    
    ion-card-title,
    ion-card-subtitle,
    ion-card-content {
        font-family: 'Outfit', sans-serif;
        color: var(--ion-color-dark);
        padding-bottom: 0;
    }
    
    ion-card-subtitle {
        font-size: 1.6em;
    }
    
    ion-card-title {
        font-size: 2em;
    }
    
    ion-card-content {
        font-size: 2em;
    }
    
    #season-text {
        // margin-left: 10px;
    }
    
    #separation-title {
        // width: 300px;
        background-color: #eec84d;
        height: 2px;
        width: 80px;
        margin-bottom: 25px;
    }