ion-content {
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

#navbar {
    height: 76px;
}

#separation-title {
    background-color: #006aab;
    width: 350px;
}

#navbar-icon {
    font-size: 50px;
    position: absolute;
    right: 0;
}

#navbar-text {
    font-size: 30px;
    color: #464040;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
}

#menu-icon {
    vertical-align: middle;
    font-size: 50px;
    color: #464040;
    position: absolute;
    left: 0;
}

#home-menu-container {
    height: 60px;
}

:host ::ng-deep {
    .monthview-eventdetail-timecolumn {
        display: none;
    }
    .event-detail {
        color: #1b1818;
        font-size: 20px;
        font-weight: 200;
    }
    .border {
        border: 1px solid black;
    }
    .monthview-datetable td.monthview-primary-with-event {
        background-color: transparent !important;
        color: black !important;
    }
    .monthview-datetable .text-muted {
        background-color: transparent !important;
    }
    .monthview-datetable {
        padding: 0 !important;
    }
    .yellow {
        background-color: rgba(255, 218, 6, 0.726) !important;
    }
    .red {
        background-color: rgba(214, 120, 148, 0.61)!important;
    }
    .green {
        background-color: rgba(9, 243, 20, 0.815)!important;
    }
    .blue {
        background-color: rgba(0, 132, 255, 0.699);
    }
}

#div {
    margin-top: 8px;
    margin-bottom: 8px;
}