ion-content {
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

#navbar {
    height: 76px;
    text-align: center;
}

#separation-title {
    background-color: #006aab;
    width: 350px;
}

#navbar-icon {
    font-size: 50px;
    position: absolute;
    vertical-align: middle;
    margin-top: 7px;
    right: 25px;
}

#navbar-text {
    font-size: 30px;
    color: #464040;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
}

#menu-icon {
    vertical-align: middle;
    font-size: 50px;
    color: #464040;
    position: absolute;
    left: 0;
}

#home-menu-container {
    height: 60px;
}

// Para acceder a ShadowRoot (encapsulamiento)
 :host ::ng-deep {
    .monthview-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .monthview-eventdetail-timecolumn {
        display: none;
    }
    .event-detail {
        font-size: 20px;
        font-weight: bold;
    }
    .no-events-label {
        font-size: 20px;
        font-weight: bold;
    }
    .monthview-datetable td {
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        border-right: none !important;
        border-left: none !important;
        background-color: transparent !important;
    }
    .monthview-datetable {
        font-size: 20px;
        font-weight: 250;
        color: black !important;
    }
    .monthview-datetable td.monthview-primary-with-event {
        font-weight: 300;
        color: black !important;
    }
    .monthview-datetable .text-muted {
        background-color: transparent !important;
    }
    .yellow {
        background-color: #7a8ebb !important;
    }
    .yellowConcert {
        background-color: #667cad !important;
    }
    .red {
        background-color: #406D96 !important;
    }
    .redConcert {
        background-color: #406D96 !important;
    }
    .green {
        background-color: #A8D0DA !important;
    }
    .greenConcert {
        background-color: #A8D0DA !important;
    }
    .blue {
        background-color: #D8E8E8 !important;
    }
    .blueConcert {
        background-color: #D8E8E8 !important;
    }
    .freeDay {
        background-color: #3ff861 !important;
    }
    .monthview-selected #div {
        background-color: rgb(255, 7, 7) !important;
    }
}

#divDays {
    padding-top: 8px;
    padding-bottom: 8px;
}

.event-detail-container {
    flex-grow: 1;
    overflow-y: scroll;
}