                ion-content {
                    --offset-bottom: auto!important;
                    --overflow: hidden;
                    overflow: auto;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
                
                #navbar {
                    height: 76px;
                    text-align: center;
                }
                
                #separation {
                    background-color: #006aab;
                    width: 350px;
                    height: 2px;
                }
                
                #navbar-icon {
                    font-size: 35px;
                }
                
                #navbar-text {
                    font-size: 30px;
                    color: #464040;
                    font-family: 'Outfit', sans-serif;
                    font-weight: 700;
                    text-align: center;
                }
                
                #menu-icon {
                    vertical-align: middle;
                    font-size: 50px;
                    color: #464040;
                    position: absolute;
                    left: 0;
                }
                
                // Para acceder a ShadowRoot (encapsulamiento)
                 :host ::ng-deep {
                    .monthview-eventdetail-timecolumn {
                        display: none;
                    }
                    .no-events-label {
                        font-size: 20px;
                        font-weight: bold;
                    }
                    .monthview-datetable td {
                        padding-left: 0px !important;
                        padding-right: 0px !important;
                        padding-top: 5px !important;
                        padding-bottom: 5px !important;
                        border: none !important;
                        border: none !important;
                        background-color: transparent !important;
                    }
                    .monthview-datetable {
                        font-size: 20px;
                        font-weight: 250;
                        color: black !important;
                    }
                    .monthview-datetable tbody {
                        font-size: 20px;
                        font-weight: 250;
                        color: black !important;
                    }
                    .monthview-datetable td.monthview-primary-with-event {
                        font-weight: 250;
                        color: black !important;
                    }
                    .firstProject {
                        background-color: var(--firstProject) !important;
                    }
                    .firstProjectImportant {
                        background-color: var(--firstProjectImportant) !important;
                    }
                    .secondProject {
                        background-color: var(--secondProject) !important;
                    }
                    .secondProjectImportant {
                        background-color: var(--secondProjectImportant) !important;
                    }
                    .thirdProject {
                        background-color: var(--thirdProject) !important;
                    }
                    .thirdProjectImportant {
                        background-color: var(--thirdProjectImportant) !important;
                    }
                    .fourthProject {
                        background-color: var(--fourthProject) !important;
                    }
                    .fourthProjectImportant {
                        background-color: var(--fourthProjectImportant) !important;
                    }
                    .freeDay {
                        background-color: var(--freeDay) !important;
                    }
                    .monthview-selected #divDays {
                        background-color: rgba(255, 230, 7, 0.504) !important;
                        color: black !important;
                    }
                    .event-detail-container {
                        align-items: center !important;
                        margin-top: 0 !important;
                        padding-top: 0 !important;
                    }
                    // .input-wrapper {
                    //     display: block !important;
                    // }
                    .event-detail {
                        text-align: center !important;
                        left: 0 !important;
                    }
                    #event-detail-text {
                        font-weight: 700 !important;
                        font-size: 1.3em!important;
                    }
                }
                
                #divDays {
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
                
                #div-spinner {
                    top: 32%;
                    transform: scale(2);
                    text-align: center;
                    left: 0;
                    right: 0;
                    position: fixed;
                    visibility: hidden;
                    color: #006aab;
                }
                
                #month-text {
                    margin: 7px
                }
                
                .wrap {
                    white-space: pre-wrap;
                    /* CSS3 */
                    white-space: -moz-pre-wrap;
                    /* Firefox */
                    white-space: -pre-wrap;
                    /* Opera <7 */
                    white-space: -o-pre-wrap;
                    /* Opera 7 */
                    word-wrap: break-word;
                    /* IE */
                    word-break: break-all;
                }
                
                ion-card {
                    border-left: 3px solid #006aab;
                    box-shadow: none !important;
                }