<ion-header class="ion-no-border" id="navbar">

    <ion-toolbar>
        <ion-title>
            <div class="hcs">
                <ion-icon id="navbar-icon" src="assets\favicon_Blanco.svg"></ion-icon>
                <span id="navbar-text">oGest5Mobile</span>
            </div>
        </ion-title>
    </ion-toolbar>



    <hr id="separation-title">
</ion-header>

<!-- Package usado para el calendario: https://github.com/twinssbc/Ionic2-Calendar -->
<!-- Tutorial: https://youtu.be/_hVdPEmbwA0-->
<ion-content class='has-header has-subheader'>
    <ion-row class="ion-no-padding">
        <!-- Atrás en el calendario -->
        <ion-col id="slides" size="2">
            <ion-button fill="clear" (click)="back()">
                <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-col>

        <ion-col id="slides" class="ion-text-center" size="8">
            <h2 id="month-text">{{ monthText }}</h2>
        </ion-col>

        <!-- Adelante en el calendario -->
        <ion-col id="slides" size="2">
            <ion-button fill="clear" (click)="next()">
                <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>

    <!-- Rueda de cargando cuando se cambia de mes -->
    <div id="div-spinner">
        <ion-spinner name="crescent"></ion-spinner>
    </div>

    <!-- Tabla de días -->
    <ng-template #colors let-view="view" let-row="row" let-col="col">

        <div id="divDays" [ngClass]="printColorsInDaysWithEvents(view.dates[row*7+col].events)">
            {{view.dates[row*7+col].label}}
        </div>
    </ng-template>

    <!-- Eventos y proyectos -->
    <ng-template #sheduleAndProject let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
        <ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail">
            <ion-item *ngFor="let event of selectedDate?.events" (click)="eventSelected(event)">


                <div *ngIf="event.title" class="event-detail wrap">
                    <h1 id="event-detail-text">{{event.title}}</h1>
                    <hr id="separation-title">
                </div>

                <ng-container *ngIf="event.titleShedule">
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>



                                <h2 *ngIf="event.roomAcronym!=''">
                                    <b>Sala: </b>{{event.roomAcronym}}</h2>

                                <ion-row>
                                    <h2 *ngIf="event.titleShedule!=' '" class="ion-padding-end"><b>Hora: </b>{{event.titleShedule}} </h2>
                                    <h2 *ngIf="event.sheduleHour!=' '"> {{event.sheduleHour}} </h2>
                                </ion-row>
                            </ion-card-title>
                        </ion-card-header>

                        <ion-card-content>


                            <h2 *ngIf="event.sheduleNote!=''"><b>Notas: </b>{{event.sheduleNote}} </h2>
                        </ion-card-content>


                        <!-- <ion-card-header>
                            <h3 class="ion-float-right" *ngIf="event.roomAcronym!=''">{{event.roomAcronym}}</h3>
                            <ion-card-title>{{event.titleShedule}} </ion-card-title>

                        </ion-card-header>

                        <ion-card-content>
                            <h2 *ngIf="event.sheduleNote!=''"><b>Notas: </b>{{event.sheduleNote}} </h2>
                            <hr id="separation-title">
                            <h2 class="ion-float-right" *ngIf="event.sheduleHour!=''"> {{event.sheduleHour}} </h2>
                        </ion-card-content> -->
                    </ion-card>
                </ng-container>
            </ion-item>
            <ion-item *ngIf="selectedDate?.events.length==0">
                <div class="no-events-label">{{noEventsLabel}}</div>
            </ion-item>
        </ion-list>
    </ng-template>

    <!-- Implementación del calendario -->
    <calendar [monthviewDisplayEventTemplate]="colors" [monthviewEventDetailTemplate]="sheduleAndProject" [noEventsLabel]="calendar.noEventsLabel " [eventSource]="eventSource" [calendarMode]='calendar.mode' [currentDate]="calendar.currentDate" (onTitleChanged)="onViewTitleChanged($event)"
        (onTitleChanged)="onViewTitleChanged($event)" [startingDayMonth]="calendar.startingDayMonth">
    </calendar>
</ion-content>