<ion-header class="ion-no-border" id="navbar">
    <ion-toolbar id="navbar">
        <ion-buttons slot="start" routerLink="/">
            <ion-icon id="go-back-button" name="chevron-back-outline"></ion-icon>
        </ion-buttons>
        <h2 id="navbar-text">Colores</h2>
    </ion-toolbar>
    <hr id="separation-title">

</ion-header>
<ion-content>
    <!-- [cpPresetEmptyMessage]="Color no seleccionado" -->

    <ion-grid class="ion-text-center">
        <ion-row>

            <ion-col>
                <h1>Proyecto 1</h1>
                <input id="color-picker" [colorPicker]="firstColor" [cpHeight] [cpCancelButton]="true" [style.background]="firstColor" (colorPickerChange)="firstColorPicker($event)" (colorPickerCancel)="colorPickerCancel1()" cpCancelButtonText="Predeterminado" />
            </ion-col>
            <ion-col>
                <h1>Proyecto 2</h1>
                <input id="color-picker" [colorPicker]="secondColor" [cpHeight] [cpCancelButton]="true" [style.background]="secondColor" (colorPickerChange)="secondColorPicker($event)" (colorPickerCancel)="colorPickerCancel2()" cpCancelButtonText="Predeterminado" />
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <h1>Proyecto 3</h1>
                <input id="color-picker" [(colorPicker)]="thirdColor" [cpHeight] [cpCancelButton]="true" [style.background]="thirdColor" (colorPickerChange)="thirdColorPicker($event)" (colorPickerCancel)="colorPickerCancel3()" cpCancelButtonText="Predeterminado" />
            </ion-col>
            <ion-col>
                <h1>Proyecto 4</h1>
                <input id="color-picker" [(colorPicker)]="fourthColor" [cpHeight] [cpCancelButton]="true" [style.background]="fourthColor" (colorPickerChange)="fourthColorPicker($event)" (colorPickerCancel)="colorPickerCancel4()" cpCancelButtonText="Predeterminado" />
            </ion-col>
        </ion-row>
        <ion-col>
            <h1>Día libre</h1>
            <input id="color-picker" [(colorPicker)]="freeDayColor" [cpHeight] [cpCancelButton]="true" [style.background]="freeDayColor" (colorPickerChange)="colorPickerChange5($event)" (colorPickerCancel)="colorPickerCancel5()" cpCancelButtonText="Predeterminado"
            />
        </ion-col>
    </ion-grid>
</ion-content>