<ion-header class="ion-no-border" id="navbar">
    <ion-toolbar id="navbar">
        <ion-buttons slot="start" routerLink="/">
            <ion-icon id="go-back-button" name="chevron-back-outline"></ion-icon>
        </ion-buttons>
        <h2 id="navbar-text">Customización</h2>
    </ion-toolbar>
    <hr id="separation-title">

</ion-header>
<ion-content>
    <!-- [cpPresetEmptyMessage]="Color no seleccionado" -->

    <ion-grid class="ion-text-center">
        <ion-row>

            <ion-col>
                <h1>Proyecto 1</h1>
                <input id="color-picker" [colorPicker]="color1" [cpHeight] [cpCancelButton]="true" [style.background]="color1" (colorPickerChange)="colorPickerChange1($event)" (colorPickerCancel)="colorPickerCancel1()" cpCancelButtonText="Predeterminado" />
            </ion-col>
            <ion-col>
                <h1>Proyecto 2</h1>
                <input id="color-picker" [colorPicker]="color2" [cpHeight] [cpCancelButton]="true" [style.background]="color2" (colorPickerChange)="colorPickerChange2($event)" (colorPickerCancel)="colorPickerCancel2()" cpCancelButtonText="Predeterminado" />
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <h1>Proyecto 3</h1>
                <input id="color-picker" [(colorPicker)]="color3" [cpHeight] [cpCancelButton]="true" [style.background]="color3" (colorPickerChange)="colorPickerChange3($event)" (colorPickerCancel)="colorPickerCancel3()" cpCancelButtonText="Predeterminado" />
            </ion-col>
            <ion-col>
                <h1>Proyecto 4</h1>
                <input id="color-picker" [(colorPicker)]="color4" [cpHeight] [cpCancelButton]="true" [style.background]="color4" (colorPickerChange)="colorPickerChange4($event)" (colorPickerCancel)="colorPickerCancel4()" cpCancelButtonText="Predeterminado" />
            </ion-col>
        </ion-row>
        <ion-col>
            <h1>Día libre</h1>
            <input id="color-picker" [(colorPicker)]="color5" [cpHeight] [cpCancelButton]="true" [style.background]="color5" (colorPickerChange)="colorPickerChange5($event)" (colorPickerCancel)="colorPickerCancel5()" cpCancelButtonText="Predeterminado" />
        </ion-col>
    </ion-grid>
</ion-content>