<ion-header class="ion-no-border">
    <ion-toolbar id="navbar">
        <ion-icon id="header-icon" src="assets/login-icon.svg"></ion-icon>
        <h2 id="header-text">Iniciar sesión</h2>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <div id="square">
            <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
                <ion-item id="email-fields">
                    <ion-label class="label" position="floating" for="project_id">Email</ion-label>
                    <ion-row>
                        <ion-icon id="email-icon" name="person-outline"></ion-icon>
                        <ion-input name="email" type="email" placeholder="your@email.com" formControlName="email" required></ion-input>

                    </ion-row>
                    <span slot="error" *ngIf="loginForm.controls['email'].errors?.required && loginForm.controls['email']?.touched">Rellene
                        el email</span>
                    <span slot="error" *ngIf="loginForm.controls['email'].errors?.pattern && loginForm.controls['email']?.touched">El
                        email no es válido.</span>

                </ion-item>
                <ion-item id="password-fields">
                    <ion-label class="label" position="floating" for="project_id">Contraseña</ion-label>
                    <ion-row>
                        <!-- <ion-icon class="musical-note-icon" src="assets/musical-note.svg"></ion-icon> -->
                        <ion-icon id="password-icon" name="bag-outline"></ion-icon>
                        <ion-input name="password" type="password" placeholder="Password" formControlName="password" required></ion-input>

                    </ion-row>
                    <span slot="error" *ngIf="loginForm.controls['password'].errors?.required && loginForm.controls['password']?.touched">Rellene
                        la contraseña</span>
                    <span slot="error" *ngIf="loginForm.controls['password'].errors?.minlength && loginForm.controls['password'].touched">La
                        contraseña debe de tener más de 6 caracteres.</span>
                    <span slot="error" *ngIf="loginForm.controls['password'].errors?.maxlength">La contraseña no puede
                        tener más de 12 caracteres.</span>
                    <span slot="error" *ngIf="loginForm.controls['password'].errors?.pattern && loginForm.controls['password'].touched">La contraseña no es válida.</span>


                    <!-- <ion-checkbox id="remember-me-checkbox" class="checkbox-square" mode="md">
            </ion-checkbox>
            <label for="remember-me-checkbox" id="remember-me-text">Recuérdame</label> -->


                    <span slot="error" *ngIf="loginForm.controls['password'].errors?.pattern && loginForm.controls['password'].touched">La contraseña no es válida.</span>
                </ion-item>


                <!-- <ion-checkbox id="remember-me-checkbox" class="checkbox-square" mode="md">
                </ion-checkbox>
                <label for="remember-me-checkbox" id="remember-me-text">Recuérdame</label> -->



                <h3 id="forgot-password-text">¿Olvidaste la contraseña?</h3>

                <button type="submit" id="login-button" class="button" type="submit">ENTRAR</button>

            </form>
            <h3 id="are-you-not-registered-text">¿No te has registrado? <span id="register-text" routerLink="/register">Regístrate</span></h3>
            <div>




            </div>


        </div>


        <hr id="separation">
        <ion-button id="login-google-button" color="light" expand="block" (click)="signInWithGoogle()">
            <ion-icon name="logo-google" slot="start"></ion-icon>
            Iniciar sesión con Google
        </ion-button>
    </ion-grid>

</ion-content>