<ion-content>
    <ion-grid>
        <ion-thumbnail>
            <img src="assets\favicon-Blanco.png">
        </ion-thumbnail>

        <form #form="ngForm" (ngSubmit)="login(form)">

            <ion-item id="email-fields">
                <ion-row>
                    <ion-icon id="icon" name="person-outline"></ion-icon>
                    <ion-input name="email" type="email" placeholder="your@email.com" ngModel  required></ion-input>
                </ion-row>
            </ion-item>

            <ion-item id="password-fields">
                <ion-row>
                    <ion-icon id="icon" name="bag-outline"></ion-icon>
                    <ion-input name="password" type="password" placeholder="Contraseña" ngModel required></ion-input>
                </ion-row>
            </ion-item>

            <button type="submit" id="login-button" class="button" type="submit">ENTRAR</button>
            <!-- <h3 id="forgot-password-text">¿Has olvidado tu contraseña?</h3> -->

        </form>
    </ion-grid>
</ion-content>