ion-thumbnail{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 200px;
    height: 191px;

}

#email-icon {
    font-size: 2em;
}

#password-icon {
    font-size: 2em;
}

.label {
    text-align: center;
    font-size: 1.8em;
    font-family: 'Outfit', sans-serif;
}

ion-input {
    font-size: 1.5em;
    text-align: center;
}

#forgot-password-text {
    color: black;
    display: block;
    text-align: center;
    margin-top: 40px;
}

#login-button {
    margin-top: 4%;
    width: 90%;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.8em;
    display: block;
    border-width: 1px;
    border-style: solid;
    font-family: 'Outfit', sans-serif;
    background-color: #006aab;
    color: white;
    margin-top: 25px;
    border-radius: 10px;
}
