<ion-content>
    <ion-grid>
        <!-- <ion-thumbnail> -->
        <div id="div-logo" class="ion-text-center">
            <img src="assets\oGest5.png">
        </div>
        <!-- </ion-thumbnail> -->

        <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">

            <ion-item id="email-fields">

                <ion-icon id="icon" name="person" slot="start" color=""></ion-icon>
                <ion-input name="email" type="email" placeholder="tu@email.com" formControlName="email" required></ion-input>

                <span slot="error" *ngIf="loginForm.controls['email'].errors?.required && loginForm.controls['email']?.touched">Rellene
                    el email</span>
                <span slot="error" *ngIf="loginForm.controls['email'].errors?.pattern && loginForm.controls['email']?.touched">El
                    email no es válido.</span>

            </ion-item>

            <ion-item id="password-fields">

                <!-- <ion-icon id="icon" name="bag-outline"></ion-icon> -->
                <ion-input name="password" [type]="showPassword ? 'text' : 'password'" placeholder="Contraseña" formControlName="password" required></ion-input>
                <!-- Enseña la contraseña -->
                <ion-icon [hidden]="showPassword" id="icon-littler" name="eye-outline" (click)="togglePassword()" slot="end" color="dark"></ion-icon>
                <ion-icon [hidden]="!showPassword" id="icon-littler" name="eye-off-outline" (click)="togglePassword()" color="dark"></ion-icon>
                <!-- <ion-icon name="eye" slot="end"></ion-icon> -->
                <ion-icon id="icon" slot="start" name="bag" color=""></ion-icon>

                <span slot="error" *ngIf="loginForm.controls['password'].errors?.required && loginForm.controls['password']?.touched">Rellene
                    la contraseña</span>
                <span slot="error" *ngIf="loginForm.controls['password'].errors?.minlength && loginForm.controls['password'].touched">La
                    contraseña debe de tener más de 6 caracteres.</span>
                <span slot="error" *ngIf="loginForm.controls['password'].errors?.maxlength">La contraseña no puede
                    tener más de 12 caracteres.</span>


            </ion-item>

            <button type="submit" id="login-button" class="button" type="submit">ENTRAR</button>
            <!-- <h3 id="forgot-password-text">¿Has olvidado tu contraseña?</h3> -->

        </form>
    </ion-grid>
</ion-content>