ion-content {
    --offset-bottom: auto !important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

ion-thumbnail {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 200px;
    height: 191px;
}

#icon {
    font-size: 40px;
    margin-top: 10px;
    padding-top: 30px;
}

#icon-littler {
    font-size: 30px;
    margin-left: 53px;
    margin-top: 50px;
    color: grey;
}

ion-input {
    font-size: 25px;
    margin-left: 50px;
    margin-top: 40px;
}

#forgot-password-text {
    color: black;
    display: block;
    text-align: center;
    margin-top: 40px;
}

#login-button {
    width: 90%;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    display: block;
    font-family: 'Outfit', sans-serif;
    background-color: #006aab;
    color: white;
    margin-top: 60px;
    border-radius: 10px;
}