ion-content {
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

ion-card {
    border-radius: 0px;
    border: 1px solid #006aab;
}

ion-card-title {
    font-size: 20px;
}

#separation-title {
    background-color: #006aab;
}

h2 {
    font-size: 20px;
}

ion-card {
    color: black
}